<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Koa App</title>
</head>
<body>
    <center>
    <div class="jumbotron">
        <h1><%- title %></h1>
        <h1><%- body %></h1>
        <form action="/auth" method ="POST">
            <div class="form-group" text-align=>
                <label for="exampleInputEmail1">Username</label>
                <input type="text" name="username" class="form-control" id="inputName" placeholder="Enter Username">
                <small id="nameHelp" class="form-text text-muted">We'll never share your credentials with anyone else.</small>
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Password</label>
                <input type="password" name="password" class="form-control" id="inputPassword" placeholder="Enter Password">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
        <br>
        <img src="/goslin.gif" alt="This is my animated image" height="450" width="700">
    </div>
    </center>
</body>
</html>